<!-- <div routerLink="/account" class="font-serif font-semibold text-lg">
  account
</div> -->

<nav
  class="bg-gray-900 p-4 flex justify-center items-center rounded-lg h-100vh shadow-lg"
>
  <div>
    <ul
      class="grid grid-cols-3 h-50vh justify-items-center place-items-center justify-center items-center gap-6 space-x-4"
    >
      <li>
        <div
          routerLink="name"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          cricket rocketingnews
        </div>
      </li>

      <li>
        <div
          routerLink="image"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Ranjith kumar
        </div>
      </li>
      <li>
        <div
          routerLink="change-name"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          <mat-icon color="primary material-symbols-outlined">logout</mat-icon>
        </div>
      </li>
      <li>
        <div
          routerLink="downloads"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Downloads
        </div>
      </li>
      <div class="rounded-full object-fill h-40 w-40 overflow-hidden">
        <img src="assets/images/ll.jpg" class="h-40 w-40" alt="" srcset="" />
      </div>
      <li>
        <div
          routerLink="history"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          History
        </div>
      </li>

      <li>
        <div
          routerLink="subscriptions"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Subscriptions
        </div>
      </li>
      <li>
        <div
          routerLink="premium"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Premium
        </div>
      </li>
      <li>
        <div
          class="py-2 px-2 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95 bg-white"
        >
          <span
            routerLink="help-feedback"
            routerLinkActive="active"
            class="text-white"
          >
            Help and Feedback
          </span>
        </div>
      </li>
    </ul>
  </div>
</nav>
