<mat-icon color="primary material-symbols-outlined">logout</mat-icon>

<div routerLink="/account" class="font-serif font-semibold text-lg">
  account
</div>

<nav
  class="bg-gray-900 p-4 flex justify-center items-center rounded-lg h-100vh shadow-lg"
>
  <div>
    <ul
      class="grid grid-cols-3 h-50vh justify-items-center place-items-center justify-center items-center gap-6 space-x-4"
    >
      <li>
        <a
          routerLink="name"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          cricketrocketingnews
        </a>
      </li>

      <li>
        <a
          routerLink="image"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Ranjith kumar
        </a>
      </li>
      <li>
        <a
          routerLink="change-name"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Change Name
        </a>
      </li>
      <li>
        <a
          routerLink="downloads"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Downloads
        </a>
      </li>
      <img
        src="assets/images/ll.jpg"
        class="rounded-full h-72 w-72"
        alt=""
        srcset=""
      />
      <li>
        <a
          routerLink="history"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          History
        </a>
      </li>

      <li>
        <a
          routerLink="subscriptions"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Subscriptions
        </a>
      </li>
      <li>
        <a
          routerLink="premium"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Premium
        </a>
      </li>
      <li>
        <a
          routerLink="help-feedback"
          routerLinkActive="active"
          class="text-white py-2 px-4 rounded transition duration-300 ease-in-out bg-gradient-to-r from-blue-500 to-purple-500 hover:from-purple-500 hover:to-blue-500 shadow-lg active:scale-95"
        >
          Help and Feedback
        </a>
      </li>
    </ul>
  </div>
</nav>
