<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <nav class="navbar navbar-expand-sm text-white navbar-dark bg-dark">
    <div class="flex justify-between px-4 items-stretch w-100vw">
      <a class="navbar-brand" href="javascript:void(0)">
        <img
          class="rounded-full h-[100px] w-[100px] bg-white p-1 object-cover"
          src="assets/images/ll.jpg"
          height="100px"
          width="100px"
          alt=""
          srcset=""
        />
      </a>

      <div class="" id="mynavbar">
        <ul class="flex gap-4 text-gray-500 capitalize">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">share</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search" />
          <button class="btn btn-primary text-gray-600" type="button">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
</nav>

<div class="flex mx-2 items-center p-4 bg-black justify-center">
  <div class="relative overflow-hidden rounded-lg">
    <div>
      <video
        class="h-[600px] w-[800] object-cover"
        controls
        poster="assets/images/ll.jpg"
      >
        <source src="/assets/videos/vid.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div class="p-4 mx-2 bg-black">
  <div class="bg-black">
    <button
      class="text-gray-400 capitalize font-bold"
      *ngIf="showCoomments"
      (click)="addcommfunc()"
    >
      <mat-icon>
        <span class="material-symbols-outlined text-yellow-200">
          comments_disabled
        </span>
      </mat-icon></button
    ><button
      class="text-gray-400 capitalize font-bold"
      *ngIf="!showCoomments"
      (click)="addcommfunc()"
    >
      <mat-icon>
        <span class="material-symbols-outlined text-blue-400"> chat </span>
      </mat-icon>
    </button>
  </div>
  <div class="flex gap-1 flex-col bg-black" *ngIf="showCoomments">
    <div class="text-gray-300 bg-black rounded p-1" *ngFor="let i of com">
      <div class="flex rounded p-2 text-gray-300">
        <div class="basis-1/4 text-lg capitalize font-serif font-semibold">
          {{ i.username }}
        </div>
        <div class="basis-3/4">
          <div class="bg-blue-500 rounded p-2 inline-block">
            <span class="text-wrap">{{ i.comment }}</span>
          </div>
        </div>
        <div class="m-2">
          <mat-icon
            ><span class="material-symbols-outlined text-red-500">
              favorite
            </span></mat-icon
          >
        </div>
        <div class="m-2">
          <mat-icon
            ><span class="material-symbols-outlined text-green-300">
              thumb_up
            </span></mat-icon
          >
        </div>
        <div class="m-2">
          <mat-icon
            ><span class="material-symbols-outlined text-blue-500">
              thumb_down
            </span></mat-icon
          >
        </div>
      </div>
      <div class="text-blue-500" (click)="repinput(i.useridCom)">reply</div>
      <div class="flex gap-3">
        <input
          *ngIf="inputrep == i.useridCom && inputrepboolean"
          type="text"
          [(ngModel)]="coomentchanding"
        />
        <div
          *ngIf="inputrep == i.useridCom && inputrepboolean"
          (click)="addtocomments(i)"
        >
          send
        </div>
      </div>
      <hr />
    </div>
  </div>
  <!-- <hr class="bg-black" /> -->
</div>
