.large-icon {
  font-size: 42px;
  height: 34px;
  width: 40px;
  color: rgb(0, 149, 255);
}
.large-icon1 {
  font-size: 42px;
  height: 34px;
  width: 40px;
  color: rgb(0, 255, 51);
}
.large-icon2 {
  font-size: 24px;
  height: 100px;
  width: 100px;
  color: rgb(38, 255, 0);
}
.large-icon3 {
  font-size: 27px;
  height: 34px;
  width: 40px;
  color: rgb(0, 149, 255);
}

.small-icon {
  font-size: 16px;
}
.red-y {
  color: rgb(244, 63, 13);
}
